# Week 6 MySql Assignment

## Q1. What is a database? Differentiate between SQL and NoSQL databases.

A database is an organised collection of data stored in computer system so that it can be accessed, managed and manipulated easily.

SQL (Structured Query Language) databases are relational databases. They store data in the form of tables, made up of rows and columns. SQL language is used to interact with relational database. MySQL is one of the SQL databases.

NoSQL (Not Only SQL) databases are non relational databases. They do not store data in the form of tables. They store data in the form of key-value pairs, documents, graphs, etc. NoSQL are uesd to store large amount of unstructured data.

## Q2. What is DDL? Explain why CREATE, DROP, ALTER, and TRUNCATE are used with an example.

DDL stands for Data Definition Language. It is set of commands that are used to define the structure of database. DDL commands are used to create, alter, and drop database objects

### CREATE
Create is used to create new database objects such datbase, tables, indexes

In [ ]:
CREATE DATABASE if not exists test;

### DROP
DROP command is used to delete a databse object

In [ ]:
DROP TABLE test_table;

### ALTER
ALTER command is used to modify the database objects, like changing name of column or changing its datatype or data limit or adding new column to table

In [ ]:
ALTER TABLE test_table ADD Address varchar(50)

### TRUNCATE
TRUNCATE command is used to delete all rows from the table but not the table.

In [ ]:
TRUNCATE TABLE test_table;

## Q3. What is DML? Explain INSERT, UPDATE, and DELETE with an example.

DML stand for Data Manipulation Language. DML commands are used to manipulate the data in database. DML commands are used to insert, retrieve, update and delete rows from tables

### INSERT
INSERT command is used to insert new rows or data into the tables

In [ ]:
INSERT into test_table(ID, name) values(2,"maninder");

### UPDATE
UPDATE command is used to update the existing row or data in table

In [ ]:
UPDATE test_table SET name = "Maninder Singh" where ID = 2;

### DELETE
DELTE command is used to rows or table from data

In [ ]:
DELETE FROM test_table where ID = 2

## Q4. What is DQL? Explain SELECT with an example.

DQL stands for Data Query Language. It is set of commands that are used to retrieve data from database. DQL commands are select, filter, order

### SELECT
SELECT command is used to select data from the table.

In [ ]:
SELECT * from test_table

## Q5. Explain Primary Key and Foreign Key.

### Primary Key
Primary Key is a column or group of columns that uniquely identifies the data or rows in a table. A Primary Key cannot contain a NULL value

For example, in test_table ID can be used as primary key. This will ensure that each person will have unique ID

### Foreign Key
Foreign Key is a column or group of columns that references a primary key of another table. Foreign Key can contain NULL value

For Example, the "student_id" in bio_data table can be a reference key to "ID" in test_table

## Q6. Write a python code to connect MySQL to python. Explain the cursor() and execute() method.

In [ ]:
import mysql-connector as sql

conn = sql.connect(host = "localhost", user = "abc", passwd = "password")
cur = conn.cursor()
cur.exute("Select * from test_table")
for i in cur.fetchall:
    print(i)
conn.close()

### cursor()
The cursor() method is used to execute SQL queries. The cursor object allows to interact with database and excute sql queries and fetch results

### execute()
execute() command is used to execute SQL query on database. It takes SQL query as parameter and run it in database

## Q7. Give the order of execution of SQL clauses in an SQL query.

#### In an SQL query, SQL clauses are executed in the following order:

FROM: This clause specifies the table or tables from which the data is retrieved.

JOIN: This clause joins two or more tables together based on a common field.

WHERE: This clause filters the data based on one or more conditions.

GROUP BY: This clause groups the data based on one or more columns.

HAVING: This clause filters the grouped data based on one or more conditions.

SELECT: This clause selects the columns included in the query results.

DISTINCT: This clause removes duplicates from query results.

ORDER BY: This clause sorts query results based on one or more columns.

LIMIT: This clause limits the number of rows returned by the query.